@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* site wide styling */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}


form {
  width: 75vmin;
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 40px 0;
}
input[type="text"] {
  width: 100%;
  padding: 15px 10px;
  border: 2px solid #1e90ff;
  outline: none;
  border-radius: 5px;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
ul {
  list-style: none;
  padding-bottom: 1rem;
}
.options-list {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
}
.options-list-items {
  padding: 10px 10px;
}
.options-list-items:hover {
  background-color: #1e90ff;
  color: #ffffff;
}