@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* site wide styling */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

.nav-bar {
  background-color: #1e90ff;
  color: #ffffff;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.autocomplete label, p {
  margin: 0.2rem 0;
}

form {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}
input[type="text"], .game-box {
  padding: 0.5rem;
  border: 1px solid #1e90ff;
  outline: none;
  border-radius: 5px;
  background-color: #ffffff;
  width: 60vw;
  text-align: center;
}
input[type="text"] {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

input[type=submit] {
  /* background-color: #1e90ff;
  color: #ffffff; */
  border-radius: 5px;
  padding: 0.5rem;
  font-family: 'Roboto', sans-serif; 
  font-size: 16px;
  margin: 0.5rem;
  width: 50vw;
}
.submit-buttons {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  padding-bottom: 1rem;
}
.options-list {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
}
.options-list-items {
  padding: 10px 10px;
  text-align: center;
  margin: 5px;
  border: 0.5px dotted #1e90ff;
  border-radius: 5px;
}
.options-list-items:hover {
  background-color: #1e90ff;
  color: #ffffff;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;

}