@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* site wide styling */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

.nav-bar {
  font-size: 13px;
  background-color: #000000;
  color: #ffffff;
  padding: 0.2rem 1rem;
  margin-bottom: 0.5rem;
  display: grid;
}
.nav-bar > * {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: center;
}
.nav-bar > *:last-child {
  justify-self: right;
}
.nav-bar p {
  display: inline-block;
  margin-left: 1rem;
}
.autocomplete label, p {
  margin: 0.2rem 0;
}

form, .flex-row, #ans-feedback, .modal-content p {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}
#welcome .game-box {
  margin: 0 1rem 0.5rem 1rem;
}
#welcome #start-asia-capitals:hover, #my-btn-nav {
  cursor: pointer;
}
#welcome span {
  font-size: 13px;
}

input[type="text"], .game-box {
  padding: 0.3rem;
  border: 1px solid #000000;
  outline: none;
  border-radius: 5px;
  background-color: #ffffff;
  width: 60vw;
  text-align: center;
}
input[type="text"] {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

input[type=submit] {
  border-radius: 5px;
  padding: 0.3rem;
  font-family: 'Roboto', sans-serif; 
  font-size: 16px;
  width: 50vw;
  margin: 0.5rem;

}
.submit-buttons {
  display: flex;
  flex-direction: column;
}

.options-list {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  list-style: none;
  padding-bottom: 1rem;
}
.options-list-items {
  padding: 0.3rem;
  text-align: center;
  margin: 5px;
  border: 0.5px dotted #000000;
  border-radius: 5px;
}
.options-list-items:hover {
  background-color: #000000;
  color: #ffffff;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flex-row {
  text-align: center;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


#ans-feedback {
  padding: 0.7rem;
  outline: none;
  border-radius: 5px;
  width: 50vw;
  text-align: center;
  margin: 1rem 0;
}


#all-asia-caps {
  cursor: pointer;
  width: 25px;
}

.inp-and-btn {
  display: grid;
}

.inp-and-btn > * {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: center;
}
.inp-and-btn > *:last-child {
  justify-self: right;
}

#welcome a, .nav-bar a {
  text-decoration: none;
}

#welcome a {
  color: #000000;
}

.nav-bar a {
  color: #ffffff;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 3rem;
  border: 1px solid #888;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.game-box-modal {
  padding: 0.3rem 1rem;
  border: 1px solid #000000;
  outline: none;
  border-radius: 5px;
  background-color: #ffffff;
}

.modal-content li {
  margin-top: 1rem;
}

/* footer styling */
footer {
  max-width: 60%;
  margin: 0.5rem auto;
}

footer li {
  list-style: none;
}

footer a{
  color: #000000;
  margin: 0 0.5rem;
  padding: 0.2rem;
  font-size: 1.2rem;
  border: 1px solid #ffffff;
}

footer a:hover {
  border: 1px solid #000000;
  color: #ffffff;
  background-color: #000000;
  border-radius: 5px
}

footer ul {
  display: flex;  
  justify-content: center;
}